.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.section-contact, .section-experience, .section-work{
    background: #EEEEEE;
    padding-top: 8px;
}

.section-knowledge, .section-certification {
    padding-top: 8px;
}

.skill-search {
    padding-top: 32px;
}

.skill-table thead {
    display: none;
}